/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {display: block;}
blockquote, q {quotes: none;}
blockquote:before, blockquote:after,q:before, q:after {content: '';content: none;}

/*remember to define visible focus styles!*/
:focus {outline:none;}

/* remember to highlight inserts somehow! */
ins {text-decoration: none;}
del {text-decoration: line-through;}
table {border-collapse: collapse;border-spacing: 0;}

/* Remove arrows from number input fields */
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}
.no-control-checkbox input {
    margin: 0 5px;
    height: 20px;
    width: 30px;
    background: #ffffff;
    border: 1px solid #d3d3d3;
    border-radius: 0;
    top: 0;
    left: 0;
    position: absolute;
    display: inline-block;
}
/* Resetting margins and padding */
button,body, .col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, 
.col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, 
.col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, 
.col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, 
.col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, 
.col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, 
.col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, 
.col-lg-12, .row, .container, .container-fluid, .row-fluid {
	padding: 0; 
	background:transparent;
	border:0;
	}
.row {
    margin-left: 0;
    margin-right: 0;
}

img {width:100%;height:auto;border-radius:0;box-sizing: border-box;}

.transparent {background-color:transparent;}
.centering-wrap {position: relative;height: 100%;}
.centering-y {
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
.centering-x {position: absolute;left: 50%;-ms-transform: translateX(-50%);-webkit-transform: translateX(-50%);transform: translateX(-50%);}
.centering {position: absolute;left: 50%;top: 50%;-webkit-transform: translateX(-50%) translateY(-50%);transform: translateX(-50%) translateY(-50%);width: 100%;}
@media screen and (max-width: 991px) {.no-centering-m {position: relative;top: unset;left: unset;height: auto;transform: none;}}
.center-txt {text-align: center;}
.left-txt {text-align: left;}
.right-txt {text-align: right;}

/* Näkyvyydet - periytyy nested-diveihin */
.op10 {opacity:.1}
.op20 {opacity:.2}
.op30 {opacity:.3}
.op40 {opacity:.4}
.op50 {opacity:.5}
.op60 {opacity:.6}
.op70 {opacity:.7}
.op80 {opacity:.8}
.op90 {opacity:.9}
.op100 {opacity:1}

/* Rajoittaa mobiili-collapsen leveytt‰ */
@media (max-width: 991px) {.mobile-collapse {max-width:600px;margin-left: auto;margin-right:auto;}}
@media and screen (max-width:991px){.col {padding-top:15px;padding-left:15px;padding-right:15px;padding-bottom:0px;}}
@media and screen (max-width:991px){.multirow {padding:0px;}}

.left {float:left;}
.right {float:right;}
.left-txt {text-align:left;}
.right-txt {text-align:right;}
.center-txt {text-align: center;}
.justify {text-align:justify;}
@media (max-width:767px) {
.center-txt-m {text-align: center;}
.left-txt-m {text-align: left;}
.right-txt-m {text-align: right;}
.justify-m {text-align:justify;}
}
.m-auto, .center {margin-left:auto;margin-right:auto;}
.mw100 {max-width:100px}
.mw150 {max-width:150px}
.mw200 {max-width:200px}
.mw250 {max-width:250px}
.mw300 {max-width:300px}
.mw400 {max-width:400px}
.mw450 {max-width:450px}
.mw500 {max-width:500px}
.mw600 {max-width:600px}
.mw700 {max-width:700px}
.mw800 {max-width:800px}
.mw900 {max-width:900px}
.mw1000 {max-width:1000px}

.mh300 {height:300px;}
.mh400 {height:400px;}
.mh500 {height:500px;}
.mh600 {height:600px;}
.mh700 {height:700px;}
@media (max-width:767px){
   .mh700m {height:80vh;} 
}
.mh800 {height:800px;}

.highlighted {color: #004d98;}
.highlighted:after {color: #004d98;}

.relative {position: relative;}
.absolute {position: absolute;}
.inline-block {display: inline-block;}
.block {display: block;}
.cover {background-size: cover;}
.frame {max-width: 1260px;margin-left: auto;margin-right: auto;}
.brand-frame {max-width: 1360px;margin-left: auto;margin-right: auto;}
.full-height {height: 100vh;position: relative;}
.half-height {min-height: 50vh;position: relative;}
.iheight {height: inherit;}
.bottom {bottom: 0px;}
.left {left: 0px;}
.right {right: 0px;}
.top {top: 0px;}

/* Content inside collapse needs padding */
.collapsing > :first-child, .collapse > :first-child {padding-top: 20px;}
.collapsing > :last-child, .collapse > :last-child {padding-bottom: 20px;}

/* Margins */
.marg {margin:40px}
.marg-small {margin:20px;}
.marg-minimal {margin:10px;}
.lr-marg {margin-left:40px;margin-right:40px;}
.lr-marg-small {margin-left:20px;margin-right:20px;}
.lr-marg-minimal {margin-left:10px;margin-right:10px;}
.tb-marg {margin-top:40px;padding-bottom:40px;}
.tb-marg-small {margin-top:20px;margin-bottom:20px;}
.tb-marg-minimal {margin-top:10px;margin-bottom:10px;}
.b-marg {margin-bottom: 40px;}
.b-marg-small {margin-bottom:20px;}
.b-marg-minimal {margin-bottom: 10px;}
.l-marg {margin-left: 40px;}
.l-marg-small {margin-left:20px;}
.l-marg-minimal {margin-left: 10px;}
.r-marg {margin-right: 40px;}
.r-marg-small {margin-right:20px;}
.r-marg-minimal {margin-right: 10px;}
.t-marg {margin-top: 40px;}
.t-marg-small {margin-top:20px;}
.t-marg-minimal {margin-top: 10px;}
.no-marg {margin:0;}

/* Paddings 40px - 25px - 15px */
.pad {padding: 40px;}
.pad-small {padding: 25px;}
.pad-minimal {padding: 15px;}
.lr-pad {padding-left:40px;padding-right:40px;}
.lr-pad-small {padding-left:25px;padding-right:25px;}
.lr-pad-minimal {padding-left:15px;padding-right:15px;}
.t-pad {padding-top: 40px;}
.t-pad-small {padding-top:25px;}
.t-pad-minimal {padding-top:15px;}
.tb-pad {padding-top:40px;padding-bottom:40px;}
.tb-pad-small {padding-top:25px;padding-bottom:25px;}
.tb-pad-minimal {padding-top:15px;padding-bottom:15px;}
.r-pad {padding-right:40px;}
.r-pad-small {padding-right: 25px;}
.r-pad-minimal {padding-right:15px;}
.b-pad {padding-bottom:40px;}
.b-pad-small {padding-bottom:25px;}
.b-pad-minimal {padding-bottom:15px;}
.l-pad {padding-left:40px;}
.l-pad-small {padding-left: 25px;}
.l-pad-minimal {padding-left:15px;}


/* Mobile size. a.k.a responsinator. */
.w-auto {width:auto;}
.w-auto img {width:auto;}

/* Paddings iPad etc. 30px - 20px - 15px */
@media (min-width: 420px) and (max-width: 767px) {
.huge-xs-padding-top {padding-top: 480px;}
.pad {padding: 30px;}
.pad-small {padding: 20px;}
.pad-minimal {padding: 15px;}
.lr-pad {padding-left:30px;padding-right:30px;}
.lr-pad-small {padding-left:20px;padding-right:20px;}
.lr-pad-minimal {padding-left:15px;padding-right:15px;}
.tb-pad {padding-top:30px;padding-bottom:30px;}
.tb-pad-small {padding-top:20px;padding-bottom:20px;}
.tb-pad-minimal {padding-top:15px;padding-bottom:15px;}
.t-pad {padding-top: 30px;}
.t-pad-small {padding-top:20px;}
.t-pad-minimal {padding-top:15px;}
.r-pad {padding-right:30px;}
.r-pad-small {padding-right: 20px;}
.r-pad-minimal {padding-right:15px;}
.b-pad {padding-bottom:30px;}
.b-pad-small {padding-bottom:20px;}
.b-pad-minimal {padding-bottom:15px;}
.l-pad {padding-left:30px;}
.l-pad-small {padding-left: 20px;}
.l-pad-minimal {padding-left:15px;}
.marg {margin:30px}
.marg-small {margin:10px;}
.marg-minimal {margin:150px;}
.lr-marg {margin-left:30px;margin-right:30px;}
.lr-marg-small {margin-left:20px;margin-right:20px;}
.lr-marg-minimal {margin-left:15px;margin-right:15px;}
.tb-marg {margin-top:30px;margin-bottom:30px;}
.tb-marg-small {margin-top:20px;margin-bottom:20px;}
.tb-marg-minimal {margin-top:15px;margin-bottom:15px;}
.b-marg {margin-bottom:30px;}
.b-marg-small {margin-bottom:20px;}
.b-marg-minimal {margin-bottom:15px;}
.t-marg {margin-top:30px;}
.t-marg-small {margin-top:20px;}
.t-marg-minimal {margin-top:15px;}
.collapse-pad-off {padding: 0px;}
.no-pad-mobile {padding: 0px;}
}

/* Paddings Mobilephone etc. 25px - 15px - 10px */
@media (min-width: 1px) and (max-width: 419px) {
.huge-xs-padding-top {padding-top: 480px;}
.pad {padding: 25px;}
.pad-small {padding: 15px;}
.pad-minimal {padding: 10px;}
.lr-pad {padding-left:25px;padding-right:25px;}
.lr-pad-small {padding-left:15px;padding-right:15px;}
.lr-pad-minimal {padding-left:10px;padding-right:10px;}
.tb-pad {padding-top:25px;padding-bottom:25px;}
.tb-pad-small {padding-top:15px;padding-bottom:15px;}
.tb-pad-minimal {padding-top:10px;padding-bottom:10px;}
.t-pad {padding-top: 25px;}
.t-pad-small {padding-top:15px;}
.t-pad-minimal {padding-top:10px;}
.r-pad {padding-right:25px;}
.r-pad-small {padding-right: 15px;}
.r-pad-minimal {padding-right:10px;}
.b-pad {padding-bottom:25px;}
.b-pad-small {padding-bottom:15px;}
.b-pad-minimal {padding-bottom:10px;}
.b-pad-minimal {padding-bottom:10px;}
.l-pad {padding-left:25px;}
.l-pad-small {padding-left: 15px;}
.l-pad-minimal {padding-left:10px;}
.marg {margin:25px}
.marg-small {margin:15px;}
.marg-minimal {margin:10px;}
.b-marg {margin-bottom:20px;}
.b-marg-small {margin-bottom:15px;}
.b-marg-minimal {margin-bottom:10px;}
.t-marg {margin-top:25px;}
.t-marg-small {margin-top:15px;}
.t-marg-minimal {margin-top:10px;}
.collapse-pad-off {padding: 0px;}
.no-pad-mobile {padding: 0px;}
}

/* No paddings or margins */
.no-pad {padding: 0px;}
.no-b-pad {padding-bottom: 0px;}
.no-t-pad {padding-top:0px;}
.no-l-pad {padding-left: 0px;}
.no-r-pad {padding-right:0px;}
.no-t-marg {margin-top: 0px;}
.no-b-marg {margin-bottom: 0px;}
.no-l-marg {margin-left: 0px;}
.no-r-marg {margin-right: 0px;}

@media screen and (min-width: 768px) {
.desktop-l-pad {padding-left: 40px;}
}

@media (min-width:768px) and (max-width:991px) {
.sm-l-pad-small {padding-left: 30px;}
.sm-r-pad-small {padding-right: 30px;}
.sm-t-pad-small {padding-top: 30px}
.sm-b-pad-small {padding-bottom: 30px;}
.sm-pad-small {padding:30px;}
}

@media screen and (min-width: 991px) {
	.pad-small-noxs {padding: 30px;}
}

@media screen and (max-width: 991px) {
	.mh800m, .mh400m {
    height: auto;
	}
}

/* borders */
.border-top {border-top: 1px solid;}
.border-bottom {border-bottom: 1px solid;}
.border-left {border-left: 1px solid;}
.border-right {border-right: 1px solid;}
.border {border: 1px solid;}
.no-border-top {border-top:none;}
.no-border-bottom {border-bottom:none;}
.no-border-left {border-left:none;}
.no-border-right {border-right:none;}


/* */
.txt-larger {font-size: 1.2em;}

/*img + h4, img + h3, img + h2, img + p {padding-top: 25px;}
h1 + p, h2 + p, h3 + p, h4 + p { padding-top: 20px;}*/

@media (max-width:540px){
.hide-on-mobile {display: none;}
}