/** Masonry **/

.grid-item a {
	border: none;
}

/* ---- grid ---- */

.grid {
  background: transparent;
}

/* clear fix */
.grid:after {
  content: '';
  display: block;
  clear: both;
}

/* ---- .grid-item ---- */

.grid-sizer,
.grid-item {
	width: 33.333%;
}
.grid-item {
	float: left;
    /* just some extra for visuals: */
    padding: 10px;
	border: 1px solid transparent;
	border:none;
}
.grid-item img {
    display: block;
    width: 100%;
    /* just some extra for visuals: */
    border: none;
    border-radius: 1px;
}
.grid-item:hover {
    /* just some extra for visuals: */
    background-color: transparent;
    border-radius: 1px;
	border: 1px solid rgba(33,33,33,.3);
	border: none;
}

/* RESPONSIVE */
/* change column count on mobile PAD */
@media screen and (max-width:1100px){
    .grid-sizer,
	.grid-item {
		width: 50%;
	}
}
/* change column count on mobile MOBILE */
@media screen and (max-width:767px){
	.grid-sizer,
	.grid-item {
		width: 100%;
	}
}

/** END: Masonry **/